<aside class="barra-lateral" [class.colapsado]="isCollapsed" [class.abierto-movil]="mobileOpen">

  <div class="cabecera-lateral">
    <button class="btn-alternar" (click)="toggleSidebar()" title="Alternar menú">
      <i *ngIf="isCollapsed" class="fa-solid fa-bars"></i>
      <i *ngIf="!isCollapsed" class="fa-solid fa-chevron-left"></i>
    </button>

    <button class="btn-cerrar-movil" (click)="toggleMobileMenu()">
      <i class="fa-solid fa-chevron-left"></i>
    </button>
  </div>

  <nav class="navegacion-lateral">
    <span class="etiqueta-seccion">Principal</span>
    <a class="item-nav activo" href="#">
      <span class="icono-nav"><i class="fa-solid fa-magnifying-glass-chart"></i></span>
      <span class="texto-nav">Detector</span>
      <span class="insignia-nav">Beta</span>
    </a>
    <a class="item-nav" href="#">
      <span class="icono-nav"><i class="fa-solid fa-clock-rotate-left"></i></span>
      <span class="texto-nav">Historial</span>
    </a>

    <span class="etiqueta-seccion">Herramientas Detección</span>
    <a class="item-nav" href="#">
      <span class="icono-nav"><i class="fa-solid fa-book"></i></span>
      <span class="texto-nav">Texto</span>
    </a>
    <a class="item-nav" href="#">
      <span class="icono-nav"><i class="fa-solid fa-video"></i></span>
      <span class="texto-nav">Video</span>
    </a>
    <a class="item-nav" href="#">
      <span class="icono-nav"><i class="fa-regular fa-image"></i></span>
      <span class="texto-nav">Imagenes</span>
    </a>
    <a class="item-nav" href="#">
      <span class="icono-nav"><i class="fa-regular fa-file-audio"></i></span>
      <span class="texto-nav">Audio</span>
    </a>

    <span class="etiqueta-seccion">Otros</span>
    <a class="item-nav" href="#">
      <span class="icono-nav"><i class="fa-solid fa-microchip"></i></span>
      <span class="texto-nav">Gestionar modelos</span>
    </a>
    <a class="item-nav" href="#">
      <span class="icono-nav"><i class="fa-solid fa-sliders"></i></span>
      <span class="texto-nav">Calibración</span>
    </a>
  </nav>

  <div class="pie-lateral">
    <a class="item-nav" href="#">
      <span class="icono-nav"><i class="fa-solid fa-gear"></i></span>
      <span class="texto-nav">Configuración</span>
    </a>
    <a class="item-nav" href="#">
      <span class="icono-nav"><i class="fa-regular fa-circle-question"></i></span>
      <span class="texto-nav">Ayuda y docs</span>
    </a>
  </div>
</aside>
