.contenedor-app {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: var(--bg-void); /* El color oscuro de fondo */
}

.contenido-principal {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: 100vh;
  position: relative;
}

.zona-scroll {
  flex: 1;
  overflow-y: auto; /* Esto permite que el dashboard se mueva hacia arriba y abajo */
  overflow-x: hidden;
}

/* Ajuste para móviles */
@media (max-width: 768px) {
  .contenedor-app {
    flex-direction: column;
  }
}
